* {
  text-align: center;
}

canvas {
  margin: 0 auto;
}

b {
	font-size: 18px;
	margin: 10px 15px;
}

a {
	font-size: 18px;
	text-decoration: none;
	color: red;
}

.ready {
	color: green;
}

.unready {
	color: red;
}

button {
	width: 100px;
	height: 30px;
	margin-top: 50px;
}